{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Monitoring, Evaluation and tracking tool</title>
	<link rel="stylesheet" type="text/css" href="{% static 'mae/css/bootstrap.css'%}">
	<script type="text/javascript" src="{% static 'mae/js/bootstrap.js'%}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<a class="navbar-brand" href="#">MAE</a>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn my-2 my-sm-0" type="submit" style="color: #FFFFFF; border:1px solid #FFFFFF;">Search</button>
				</form>
			</div>
		</div>
	</nav>
</body>
</html>